@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {width: 100%; margin: 0; font-family: 'NanumSquare', sans-serif; font-size: 14px;}
p, h1, h2, h3 {margin: 0;}
ul, li {list-style: none; padding: 0;}
a {text-decoration: none;}
.clearfix {content: ''; display: block; clear: both;}

#form {width: 577px; height: fit-content; margin: 0 auto;}
#form .top {padding: 25px 0; margin: 0 32px; text-align: right; border-bottom: 1px solid #e5e5e5;}
#form .top #complete {border: none; outline: none; font-size: 16px;}
#form .top #complete:hover {color: #feac02;}

#form #form_title {padding: 25px 0 75.5px 0; margin: 0 32px;}
#form #form_title .title {font-size: 19px; font-weight: bold;}
#form #form_title .title span {display: inline-block;}
#form #form_title .title small {font-size: 19px; font-weight: lighter; color: #80333333;}
#form #form_title .title .point {font-size: 12px; font-weight: 200; color: #ffffff; background-color: #2699FB; border: #2699FB; padding: 6px 11px; border-radius: 50px; margin-left: 10px; vertical-align: middle;}
#form #form_title .info {margin-top: 16px; line-height: 22px;}
#form #form_title .info .notice {color: #80333333; margin-top: 10px;}

#form #form_detail {margin: 0 32px;}
#form #form_detail .company_info {border-bottom: 1px solid #e5e5e5; line-height: 40px; padding-bottom: 30px;}
#form #form_detail .company_info .company {width: 100px; font-weight: bold; display: inline-block; float: left; font-size: 16px;}
#form #form_detail .company_info .input_companyName {width: 76%; height: 44px; border:1px solid #cccccc; padding: 0 10px; font-size: 16px;}

/* 업체명 수정 클릭시 */
/* #form .form_detail .company_info .company_name2 {width: 361px; display: inline-block;}
#form .form_detail .company_info .company_name2 input[type=text] {width: 92%; height: 44px; border:1px solid #cccccc; padding: 0 10px; font-size: 16px;}
#form .form_detail .company_info #modify_done {display: inline-block; border-radius: 1px; font-size: 12px; outline: 0; background-color: #464646; color: #ffffff; margin-left: 2px; padding: 6px 7px; font-weight: 300;} */

#form #form_detail .company_contents {padding: 18px 0 27px 0;}
#form #form_detail .company_contents #detail_table {width: 513px;}
#form #form_detail .company_contents #detail_table .row_company {line-height: 40px;}
#form #form_detail .company_contents #detail_table .row_company .company {width: 94px; font-weight: bold;}
#form #form_detail .company_contents #detail_table .row_company .company_detail .company_name {display: inline; font-size: 18px; padding-right: 10px;}
#form #form_detail .company_contents #detail_table .row_company .company_detail #btn_modify {border: 1px solid #464646; border-radius: 1px; font-size: 12px; outline: 0; vertical-align: middle;}
#form #form_detail .company_contents #detail_table .row_company .company_detail #btn_delete {border: 1px solid #464646; border-radius: 1px; font-size: 12px; outline: 0; vertical-align: middle;}

#form #form_detail .company_contents #detail_table .row_contents {padding-bottom: 100px;}
#form #form_detail .company_contents #detail_table .row_contents input[type=text] {width: 94.6%; height: 40px; padding: 0 10px; font-size: 14px;}

/* 업체명 수정 클릭시 */
#form #form_detail .company_contents #detail_table .row_company .company {width: 94px; font-weight: bold;}
#form #form_detail .company_contents #detail_table .row_company .company_detail #edit_companyNmae {width: 75.4%; height: 40px; padding: 0 10px; font-size: 18px; display: inline-block; margin: 6px 10px 4px 0;}
#form #form_detail .company_contents #detail_table .row_company .company_detail #btn_modify_done {border-radius: 1px; font-size: 12px; outline: 0; background-color: #464646; color: #ffffff; margin-left: 2px; padding: 6px 7px; font-weight: 300;}

#form #budget {padding: 15px 0; margin: 0 32px; font-size: 18px; font-weight: bold; overflow: auto; margin-top: 18px; border-top: 1px solid #e5e5e5;}
#form #budget .amount {display: inline; line-height: 40px;}
#form #budget #btn_modify_amount {border: 1px solid #464646; border-radius: 1px; font-size: 12px; outline: 0; margin-left: 10px; vertical-align: middle;}
#form #budget .amountPrice {line-height: 40px; float: right;}

/* 합계금액 수정 클릭시 */
/* #form .form_detail .budget input[type=text] {width: 205px; height: 40px; text-align: right; padding: 0 10px; font-size: 18px; margin-left: 146px;}
#form .form_detail .budget #modify_amound_done {display: inline-block; border-radius: 1px; font-size: 12px; outline: 0; background-color: #464646; color: #ffffff; margin-left: 2px; padding: 6px 7px; font-weight: 300;} */

#form #separate .separate_bar {height: 15px; margin: 20px 0; background-color: #f6f6f4;}

#form #attachment {margin: 40px 32px 60px 32px;}
#form #attachment .attach_info .company {width: 100px; font-weight: bold; display: inline-block; float: left; font-size: 16px; line-height: 40px;}
#form #attachment .attach_info #preview {width: calc(99% - 100px); height: 104px; display: inline-block; margin: 0; border: 1px solid #cccccc; text-align: center;}
#form #attachment .attach_info label {display: block; width: calc(99% - 100px); height: 40px; text-align: center; font-size: 16px; line-height: 40px; margin: 5px 0 0 100px; border: 1px solid #cccccc;}
#form #attachment .attach_info label em {font-style: normal; color: #3497fd}
#form #attachment .attach_info #attach_img {display: none;}

#form #attachment .attach_info label:hover {background-color: #464646; color: #ffffff;}